name: Build & Push Docker Image

on:
  push:
    branches:
      - main
    tags:
      - '*'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Resolve image tag
        id: tag
        run: |
          if [[ "${{ github.ref }}" =~ "refs/tags/" ]]; then
            TAG=${{ github.ref_name }}
          else
            TAG="latest"
          fi
          echo "TAG=${TAG}" >> $GITHUB_ENV

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: papey/hexproofix:${{ env.TAG }}
          labels: |
            org.opencontainers.image.source=${{ github.event.repository.clone_url }} 
            org.opencontainers.image.url=${{ github.event.repository.html_url }}            
            org.opencontainers.image.revision=${{ github.sha }}
            org.opencontainers.image.version=${{ env.TAG }}
            org.opencontainers.image.authors="Wilfried OLLIVIER"
            org.opencontainers.image.title="Hexproofix"
            org.opencontainers.image.description=${{ github.event.repository.description }} 
            org.opencontainers.image.licenses="Unlicense"
